<!-- ======= Property Search Section ======= -->
<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Bộ lọc</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label class="pb-2" for="Type">Địa chỉ</label>
                        <input type="text" class="form-control form-control-lg form-control-a" placeholder="Nhập địa chỉ" id="Address">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="Type">Hình thức</label>
                        <select class="form-control form-select form-control-a" id="Type">
                            <option value="0">Tất cả</option>
                            @foreach (var item in Gemini.Controllers.Bussiness.BizProperty_Type.dicDesc)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="PropertyType">Loại dự án</label>
                        <select class="form-control form-select form-control-a" id="PropertyType">
                            <option value="0">Tất cả</option>
                            @foreach (var item in Gemini.Controllers.Bussiness.BizProperty_PropertyType.dicDesc)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="Beds">Phòng ngủ</label>
                        <select class="form-control form-select form-control-a" id="Beds">
                            <option value="0">Tất cả</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="Baths">Phòng tắm</label>
                        <select class="form-control form-select form-control-a" id="Baths">
                            <option value="0">Tất cả</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="Garages">Garages</label>
                        <select class="form-control form-select form-control-a" id="Garages">
                            <option value="0">Tất cả</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="Area">Diện tích</label>
                        <select class="form-control form-select form-control-a" id="Area">
                            <option value="0">Không giới hạn</option>
                            <option value="50">50+</option>
                            <option value="60">60+</option>
                            <option value="70">70+</option>
                            <option value="80">80+</option>
                            <option value="90">90+</option>
                            <option value="100">100+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="Price">Giá thấp nhất</label>
                        <select class="form-control form-select form-control-a" id="Price">
                            <option value="0">Không giới hạn</option>
                            <option value="500000000">500,000,000 VNĐ</option>
                            <option value="1000000000">1,000,000,000 VNĐ</option>
                            <option value="1500000000">1,500,000,000 VNĐ</option>
                            <option value="2000000000">2,000,000,000 VNĐ</option>
                            <option value="2500000000">2,500,000,000 VNĐ</option>
                            <option value="3000000000">3,000,000,000 VNĐ</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" onclick="search()" class="btn btn-b">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- End Property Search Section -->>

<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" href="/">Real<span class="color-b">Estate</span></a>

        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav" id="menu">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>
                @foreach (var item in Gemini.Controllers.Bussiness.BizProperty_Type.dicDesc)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/category/@item.Key" id="navbarDropdown-@item.Key" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Value</a>
                        <div class="dropdown-menu">
                            @foreach (var itemPropertyType in Gemini.Controllers.Bussiness.BizProperty_PropertyType.dicDesc)
                            {
                                <a class="dropdown-item " href="/category/@item.Key/@itemPropertyType.Key">@itemPropertyType.Value</a>
                            }
                        </div>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link " href="/about-us">Giới thiệu</a>
                </li>
            </ul>
        </div>

        <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <i class="bi bi-search"></i>
        </button>

        <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" style="margin-left: 5px" onclick="location.href = '/admin'" title="@ViewBag.LoginTitle">
            <i class="bi bi-arrow-bar-right"></i>
        </button>
    </div>
</nav><!-- End Header/Navbar -->

<script>
    var currentUrl = location.pathname;

    if (currentUrl != "/")
        $('.nav-link').removeClass('active');

    var menus = $('#menu > li > a');
    for (var i = 0; i < menus.length; i++) {
        var hrefMenu = menus[i].href.split(menus[i].host)[1];
        if (currentUrl.includes(hrefMenu) && hrefMenu != "/") {
            var li = menus[i].parentNode;
            li.className += " active";
        }
    }

    if (location.search) {
        if (location.search.includes('address')) {
            address = location.search.split('address=')[1].split('&')[0];
            $('#Address').val(address);
        }
        if (location.search.includes('type')) {
            type = location.search.split('type=')[1].split('&')[0];
            $('#Type').val(type);
        }
        if (location.search.includes('propertyType')) {
            propertyType = location.search.split('propertyType=')[1].split('&')[0];
            $('#PropertyType').val(propertyType);
        }
        if (location.search.includes('beds')) {
            beds = location.search.split('beds=')[1].split('&')[0];
            $('#Beds').val(beds);
        }
        if (location.search.includes('baths')) {
            baths = location.search.split('baths=')[1].split('&')[0];
            $('#Baths').val(baths);
        }
        if (location.search.includes('garages')) {
            garages = location.search.split('garages=')[1].split('&')[0];
            $('#Garages').val(garages);
        }
        if (location.search.includes('area')) {
            area = location.search.split('area=')[1].split('&')[0];
            $('#Area').val(area);
        }
        if (location.search.includes('price')) {
            price = location.search.split('price=')[1].split('&')[0];
            $('#Price').val(price);
        }
    }

    function search() {
        location.href = "/search?address=" + $('#Address').val()
            + "&type=" + $('#Type').val()
            + "&propertyType=" + $('#PropertyType').val()
            + "&beds=" + $('#Beds').val()
            + "&baths=" + $('#Baths').val()
            + "&garages=" + $('#Garages').val()
            + "&area=" + $('#Area').val()
            + "&price=" + $('#Price').val()
            + "&page=1"
            + "&sortBy=0"
    }
</script>